@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Welcome to Parcel Management System</h2>
<p>Please use this system to enter the information of the package and also get the details of
   the package entering the way bill number in our search engine.
   ©Copyright 2022 - 2023, CloudMojo</p>
