@model ParcelManagementSystemMVC.Models.Roles
@{
    ViewData["Title"] = "AddRole";
    Layout = "AdminLayout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Parcel" asp-action="Dashboard">Home</a></li>
        <li class="breadcrumb-item">Parcel</li>
        <li class="breadcrumb-item active" aria-current="page">Add New Parcel</li>
    </ol>
</nav>
<form method="post" asp-controller="Role" asp-action="AddRole">
    <div class="row">
        <div class="col-7">
            <div class="card col-8">
                <div class="m-3 row">
                    <label for="SName" class="col-4 col-form-label">Role Name:</label>
                    <div class="col-8">
                        <input type="text" class="form-control" asp-for="name" id="name">
                    </div>
                </div>
            </div>
            <h6>Status:</h6>
            <div class="form-check">
                <label><input type="radio" name="status"  value="Active"/> Active</label> 
            </div>
            <div class="form-check">
                <label><input type="radio" name="status" value="De-Active"/> De-Active</label>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <input class="btn btn-primary" type="submit"/>
            <input class="btn btn-primary" type="reset"/>
        </div>
    </div>
    
</form>